<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<link rel="stylesheet" th:href="@{/css/melon_style.css}" />
</head>
<body>
	<div class="content_center">
        <h1 class="">Welcome Back!</h1>
        <form class="form_join" action="">
			<div class="form_group">
				<label>ID</label>
				<input type="text" id="" name="" title="ID" />
			</div>
			<div class="form_group">
				<label>Password</label>
				<input type="password" id="" name="" title="PASSWORD" />
			</div>
			<div class="form_group">
				<label>Name</label>
				<input type="text" id="" name="" title="NAME" />
			</div>
			<div class="form_group">
				<label>Address</label>
				<input type="text" id="" name="" title="ADDRESS" />
			</div>
			<button type="button" id="btn_join">Join</button>
		</form>
	</div>
</body>
</html>